<a href="https://colab.research.google.com/github/Blasco0616/CPEN-21A-1-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop Statement

In [2]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Sunday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Sunday

The Break Statement

In [6]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Sunday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [5]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Sunday"]
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through a string

In [8]:
for x in "week":
  print(x)

w
e
e
k

The range() function

In [13]:
for x in range(6):
  print("Example 1",x)

for x in range(2,6):
  print("Example 2",x)

Example 1 0
Example 1 1
Example 1 2
Example 1 3
Example 1 4
Example 1 5
Example 2 2
Example 2 3
Example 2 4
Example 2 5

Nested loops

In [14]:
adjective = ["Red","Big","Tasty"]
fruit = ["apple","banana","cherry"]

for x in adjective:
  for y in fruit:
    print(x,y)

Red apple
Red banana
Red cherry
Big apple
Big banana
Big cherry
Tasty apple
Tasty banana
Tasty cherry

White loop statement

In [15]:
i = 1
while i<6:
  print(i)
  i+=1 #i = i+1

1
2
3
4
5

The break statement

In [17]:
i = 1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [20]:
i = 1
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

2
4
5
6

The else statement

In [21]:
i = 1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

application 1

In [22]:
for x in range(11):
  print("Hello",x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

application 2

In [25]:
for x in range(3,10):
  print(x)

3
4
5
6
7
8
9